/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-11-18, 21:40:19
    Author     : hongbo
*/
.imx{
    border:1px double red;
    mask: url("../svg/mk.svg#c1"); 
    -webkit-mask: url("../svg/mk.svg");
}
